<?php
return '
<!--  Service Index  -->
<script>
$(document).ready(function(){
	var indexFilter = $(document).cmServiceIndex({
		searchDelay: 200,
		useBlitz: !true,
		selectorList: "table.service-list"
	});
});
$("#search").focus();
</script>
<div id="index">
	<div id="header">
		<div class="container">
			<h1><%title%></h1>
		</div>
	</div>
	<div class="container">

		<!--  Information  -->
		<div id="info">
			<p><%description%></p>
		</div>

		<!--  Filter  -->
		<div id="filter">
			<h3><acronym title="Filters will apply immediately">Filters and Options</acronym></h3>
			<div class="row-fluid">
				<div class="span2">
					<label for="filter_search"><acronym title="case senstive">Search</acronym></label>
					<input id="filter_search" class="span12" autocomplete="off"/>
				</div>
				<div class="span2">
					<label for="filter_format"><acronym title="show services with a specific response format">Format</acronym></label>
					<select id="filter_format" class="span12"><%optFormat%></select>
				</div>
				<div class="span2">
					<label for="filter_classes" class="checkbox">
						<input id="filter_classes" type="checkbox"/>
						<acronym title="show names of classes implementing services">show&nbsp;Classes</acronym>
					</label>
					<label for="filter_rules" class="checkbox">
						<input id="filter_rules" type="checkbox"/>
						<acronym title="show service parameter rules">show&nbsp;Rules</acronym>
					</label>
				</div>
				<div class="span2">
				</div>
			</div>
		</div>

		<!--  List -->
		<div id="list">
			<h2>Net Services List <small>(<span id="serviceCounter"></span>)</small></h2>
			<%table%>
			<div id="message">No Services found.</div>
		</div>
	</div>
</div>
