body{}
div {
	margin: 0px;
	padding: 0px;
	}
h1 {
	font-weight: lighter;
	color: #24466C;
	font-size: 2.0em;
	margin: 0px;
	padding: 0.4em 0em 0em 0em;
	}
h2 {
	font-weight: lighter;
	color: #24466C;
	font-size: 1.6em;
	margin: 0.5em 0em;
	}

label {
/*	display: block;
	float: left;
	width: 60px;
	text-align: right;
	padding-right: 0.5em;
	padding-top: 3px;*/
	}

#header {
	height: 72px;
	background-image: url(../images/hdr_bkg.gif);
	background-repeat: repeat-x;
	background-position: 0px -25px;
	}

#header h1 {
	padding-left: 65px;
	padding-top: 15px;
	color: #FFF;
	background-image: url(../images/sinc.png);
	background-image: url(../images/view-refresh.png);
	background-repeat: no-repeat;
	background-position: 20px 15px;
	font-style: italic;
	line-height: 1.2em;
	}

#header h1 a {
	color: #FFF;
	}

#content {
/*	padding: 1em;*/
	}
a,
a:link,
a:visited {
	color: #24466C;
/*	font-weight: bold;*/
/*	text-decoration: none;*/
	}
a:active,
a:hover {
	color: red;
	}

#index #info {
/*	padding: 1em;*/
	}
